<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Правим</title>
    </head>
    <body>
        <h3>Правим</h3>
        <form method="POST">
            <input type="hidden" name="id" value="{{.Id}}" />
            <label>Модель</label><br>
            <input type="text" name="model" value="{{.Model}}" /><br><br>
            <label>Марка</label><br>
            <input type="text" name="company" value="{{.Company}}" /><br><br>
            <label>Цена</label><br>
            <input type="number" name="price" value="{{.Price}}" /><br><br>
            <input type="submit" value="Вноси!" />
        </form>
    </body>
</html>